@media (max-width: 1600px){
.container {
    max-width: 1200px;
}
}


/* menu */
.foliox_tm_header .menu ul li a {
    color: #6928e6;
}
.foliox_tm_header .menu ul li a:hover {
    color: #6928e6;
}


.foliox_tm_header .menu ul li.current a {
    color: #6928e6;
}

div#portfolio {
    background: #fff;
    padding-top: 60px;
}
.foliox_tm_portfolio {
    margin-bottom: 60px;
}
.foliox_tm_main_title span {
    color: #6928e6;
}
.foliox_tm_main_title h2 {
    color: #6928e6;
    font-size: 80px;;
}
.foliox_tm_portfolio .portfolio_list ul li {
    margin: 0 0 20px;
    padding-left: 20px;
}
.foliox_tm_portfolio .portfolio_list ul li .list_inner {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.foliox_tm_portfolio .portfolio_filter ul li a {
    color: #6928e6;
}
.foliox_tm_portfolio .portfolio_filter ul li a:hover,
.foliox_tm_portfolio .portfolio_filter ul li a.current {
    color: #6928e6;
}

.foliox_tm_portfolio .portfolio_list ul li .details,
.foliox_tm_portfolio .portfolio_list ul li .details span {
    color: #fff;
}


.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 100%;
}
 .foliox_tm_portfolio .portfolio_list ul li .image {
    height: 400px;
}
.foliox_tm_portfolio .portfolio_list ul li .image .main {
    height: 400px;
    width: 100%;
    background-position: top;
}
